
/*
* SEARCH
*/


#product-search-dialog-button{
	margin-bottom: 3px;
	margin-top: 3px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: roboto,arial,tahoma,verdana,helvetica;
	display: inline-block;
	padding: 5px 7px;
	text-align: center;
	cursor: pointer;
	text-decoration: none !important;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid #aaa;
	-webkit-border-radius: 2px;
	border-radius: 1px;
	font-weight: bold;
	text-transform: uppercase;
	color: #444;
}

.advanced-product-global-search-container{
	min-width: 70%;
	margin: 1em 0 0.4em 0;
	text-align: center;
}

.advanced-product-global-search-input {
	width: 100%; /* for retrocompatibility */
	width: calc(100% - 30px); /* include help icon*/
	padding: 10px 35px 10px 20px;

	background-color: transparent;
	font-size: 14px;
	line-height: 16px;
	box-sizing: border-box;


	color: #575756;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z' fill='%23b3b3b3'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 95% center;
	background-position: calc(100% - 16px) center;
	border-radius: 50px;
	border: 1px solid #c4c4c2 !important;
	transition: all 250ms ease-in-out;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	font-style: oblique;
	max-width: 600px;

}

.advanced-product-global-search-input + .fa{
	color: #b5b5b5;
	margin-left : 5px;
}

.advanced-product-global-search-input::placeholder {
	color: #575756cc;
	letter-spacing: 1.5px;
}

.advancedproductsearch__results-count{
	font-size: 0.9em;
	color: #686868;
}

.advanced-product-search-list-input-reduction{
	max-width: 40px;
}

.advanced-product-search-list-input-qty{
	max-width: 64px;
}

.advanced-product-search-list-input-subprice{
	max-width: 80px;
	padding-right: 2px;
}

.advanced-product-search-row.--data:hover .advanced-product-search-col{
	background-color: var(--colorbacklinepairhover); /*rgba(251,255,0,0.15);*/
}

.default-hidden, .advanced-product-search-row:hover .default-visible{
	display:none;
}

.advanced-product-search-row:hover .default-hidden, .default-visible{
	display:block;
}

.advance-prod-search-list-action-btn{
	cursor: pointer;
	margin-left: 10px;
}
.advance-prod-search-list-action-btn:hover{
	color: #0b419b;
}
.advance-prod-search-list-action-btn:focus{
	color: #0b419b;
}

.advanced-product-search-col.--action,
.advanced-product-search-col.--buy-price{
	padding: 2px 8px 2px 8px;
	min-height: 22px;
	min-width: 100px;
}

.search-list-select{
	max-width: 175px;
}

.advance-search-product-results{
	position: relative;
	border-collapse: collapse;
}

.advanced-product-search-row.--title th, .advanced-product-search-row.--title td{
	position: -webkit-sticky;
	position: sticky;
	background: var(--colorbacktitle1);
	z-index: 1;
	top: 0; /* Don't forget this, required for the stickiness */
}

.--ajax-loading .--blur-on-loading {
	/*-webkit-filter: blur(3px);
	filter: blur(3px);
	cursor: wait;*/
}

.inner-dialog-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.3); /* background with some opacity to be sure under elements are not clikables  */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: wait; /* Add a pointer on hover */
}

.advanced-product-search-col.--stock-reel, .advanced-product-search-col.--stock-theorique {
	text-align: center;
}


/* LOADING EFFECT */
.dialog-loading__loading {
	-webkit-animation:dialog-loading-fadein 2s;
	-moz-animation:dialog-loading-fadein 2s;
	-o-animation:dialog-loading-fadein 2s;
	animation:dialog-loading-fadein 2s;
}
@-moz-keyframes dialog-loading-fadein {
	from {opacity:0}
	to {opacity:1}
}
@-webkit-keyframes dialog-loading-fadein {
	from {opacity:0}
	to {opacity:1}
}
@-o-keyframes dialog-loading-fadein {
	from {opacity:0}
	to {opacity:1}
}
@keyframes dialog-loading-fadein {
	from {opacity:0}
	to {opacity:1}
}

.dialog-loading__spinner-wrapper {
	min-width:100%;
	min-height:100%;
	height:100%;
	top:0;
	left:0;
	position:absolute;
	z-index:300;
}

.dialog-loading__spinner-text {position:absolute;top:41.5%;left:47%;margin:16px 0 0 35px;font-size:9px;font-family:Arial;color: #808080;letter-spacing:1px;font-weight:700}
.dialog-loading__spinner {
	margin:0;
	display:block;
	position:absolute;
	left:45%;
	top:40%;
	border:25px solid rgba(100,100,100,0.5);
	width:1px;
	height:1px;
	border-left-color:transparent;
	border-right-color:transparent;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;
	-webkit-animation:dialog-loading-spin 1.5s infinite;
	-moz-animation:dialog-loading-spin 1.5s infinite;
	animation:dialog-loading-spin 1.5s infinite;
}

@-webkit-keyframes dialog-loading-spin {
	0%,100% {-webkit-transform:rotate(0deg) scale(1)}
	50%     {-webkit-transform:rotate(720deg) scale(0.6)}
}

@-moz-keyframes dialog-loading-spin  {
	0%,100% {-moz-transform:rotate(0deg) scale(1)}
	50%     {-moz-transform:rotate(720deg) scale(0.6)}
}
@-o-keyframes dialog-loading-spin  {
	0%,100% {-o-transform:rotate(0deg) scale(1)}
	50%     {-o-transform:rotate(720deg) scale(0.6)}
}
@keyframes dialog-loading-spin  {
	0%,100% {transform:rotate(0deg) scale(1)}
	50%     {transform:rotate(720deg) scale(0.6)}
}

.advanced-product-search-col{
	position: relative;
}


@keyframes badgePopDisplay {
	from {opacity:0; transform: translateX(-50%) translateY(0%);}
	to {opacity:1; transform: translateX(-50%) translateY(-50%);}
}

.advanced-product-search__badge-qty-doc{
	/* disable select */
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */

	font-size: 10px;
	display: inline-block;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	transition: all 150ms ease-in-out;

	animation:  300ms ease-in-out badgePopDisplay;
}
.advanced-product-search__badge-qty-doc:hover{
	transform: translateX(-50%) translateY(-50%) scale(200%);
}
.advanced-product-search__badge-qty-doc:empty{
	display: none;
}
